<div class="wrap">
  <%= board_tag do %>
    <%= board_header_tag do %>
      <%= icon_status("service", @service.status_name) %>
      <%= link_to t(@object.class.name.downcase), polymorphic_path(@object.class) %> /
      <%=link_to(@object.name, @object) %> /
      <%=link_to @service.name, [@object, @service] %> /
      <%= t("edit") %>
    <% end %>
    <%= board_content_tag do %>
      <%= render :partial => "form" %>
    <% end %>
  <% end %>
</div>


