<div class="wrap">
  <% object = @service.object %>
  <%= board_tag :id => "services" do %>
    <%= board_header_tag do %>
      <%= icon_status("service", @service.status_name) %>
      <%= link_to t(@service.object_name), :controller => @service.object_name + "s", :action => "index" %> /
      <%=link_to(object.name, object) %> /
      <%=link_to @service.name, @service %> /
      <%= t("edit") %>
    <% end %>
    <%= board_content_tag do %>
      <p class="notice">
      正在修改<%= link_to @service.object.name, @service.object %>上的<%#= @service_type.alias %>服务<%= link_to @service.name, @service %> 
      </p>
      <%= form_for(@service, :builder => OpenStyle::FormBuilder, :html => {:class => "form"}) do |f| %>
        <%= redirect_tag %>
        <%= f.hidden_field :type_id %>
        <%= hidden_field_tag "host_id", @host.id if @host %>
        <%= hidden_field_tag "app_id", @app.id if @app %>
        <%= hidden_field_tag "site_id", @site.id if @site %>
        <%= hidden_field_tag "device_id", @device.id if @device %>

        <% field_set_tag "基本信息" do %>
          <%= f.item(:name, :required => true) do %>
            <%= f.text_field(:name) %>
            <%= f.help(:name, "") %>
          <% end %>
          <%= f.item(:check_interval, :required => true) do %>
            <%= f.select(:check_interval, @check_intervals, :prompt => "选择采集频") %>
            <%= f.help(:check_interval, "") %>
          <% end %>
        <% end %>
        <%= render :partial => "threshold", :locals => { :f => f } unless @service.new_record? %>
        <%= render :partial => "notifications/setting", :locals => {:f => f, :source => "service", :types => ["critical", "warning", "unknown", "recovery"] } unless @service.new_record? %>
        <p class="form-actions">
        <%= f.submit t(@service.new_record? ? 'create' : 'update') %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>

