<% if logged_in? %>
  <div style="padding: 50px 40px 100px 50px;">
    <h3>感谢关注<%= t('production_title') %></h3>
    <p>
    我们将在近期通过电子邮件邀请您参与<%= t('production_title') %>内测。
    </p>
  </div>
<% else %>
  <div class="clearfix">
    <div class="entry-left">
      <h3>
        <%=icon_tag("login") %>登录
      </h3>
      <div>
        <% form_for :session, :html => {:class => "form"}, :builder => OpenStyle::FormBuilder, :url => session_path do |f| -%>
          <% unless @error.blank? %>
            <p class="notice notice-error">
            <%= @error %>
            </p>
          <% end %>
          <%= f.item(:email, :label => "邮箱：") do %>
            <%= f.text_field(:email, :name => "email") %>
          <% end %>
          <%= f.item :password, :label => "密码：" do %>
            <%= f.password_field(:password, :name => "password", :style => "width: 200px;") %>
            <%#= f.help(link_to "忘记密码？", {:controller => "accounts", :action => "resend_password"}) %>
          <% end %>
          <%= f.item :re, :label => raw("&nbsp;") do %>
            <%= check_box_tag('remember_me', '1', @remember_me) %>
            <label for="remember_me" class="gray">在这台电脑上记住我，下次自动登录</label>
          <% end %>
          <p class="form-actions">
          <%= f.submit '登录', :hl => true %>
          </p>
        <% end -%>
      </div>
    </div>
    <div class="entry-right">
      <h4>
        还没有注册？
      </h4>
      <div>
        <p>&nbsp;</p>
        <% form_tag remote_signup_url, :method => :get do %>
          <%= hidden_field_tag "club", "monit" %>
          <%=button_wrap_tag(submit_tag '点击注册', :name => nil) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
