<%=render :partial=>"select"%>
<div id="main">
  <div id="sidebar">
    <ul id="subnav">
      <li><%=link_to "控制台(Dashboard)","#dash" %></li>
      <li><%=link_to "业务视图","#view" %></li>
      <li><%=link_to "服务器监控","#host-detail" %></li>
      <li><%=link_to "网站监控","#site" %></li>
      <li><%=link_to "应用监控","#mysql-detail" %></li>
      <li><%=link_to "数据库监控" %></li>
      <li><%=link_to "网络设备监控","#device-lis" %></li>
      <li><%=link_to "服务监控","#service-detail" %></li>
      <li><%=link_to "告警通知","#alarm" %></li>
      <li><%=link_to "数据分析与报表","#report" %></li>
    </ul>
  </div>

</div>

