<%= render :partial => 'header', :locals => { :title => t('terms') } %>
<% production_name = t("production_title") %>

<div id="doc-wrap">
  <div id="docm" class="clearfix">
    <h3>使用规则</h3>

    <ol>
      <li>用户在申请使用<%= production_name %>服务时，必须向<%= production_name %>提供准确的个人资料，如个人(手机号码)资料有任何变动，必须及时更新。</li>
      <li>用户注册成功后，<%= production_name %>将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</li>
      <li>用户注册成功后，如若连续六个月不曾使用其注册帐号，则该帐号有可能被新的用户注册，届时其原有信息将全部丢失。<%= production_name %>不对由此引起的用户信息丢失负但任何责任。</li> 
      <li>用户同意接受<%= production_name %>通过电子邮件或其他方式向用户发送的统计报告信息。</li> 
      <li>用户在使用<%= production_name %>网络服务过程中，必须遵循以下原则： 
      <ol>
        <li>遵守中国有关的法律和法规；</li>
        <li>不得为任何非法目的而使用网络服务系统；</li>
        <li>遵守所有与网络服务有关的网络协议、规定和程序；</li>
        <li>不得利用<%= production_name %>网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；</li>
        <li><%= production_name %>不对用户通过非www.monit.cn网站发出的一切软件插件信息的真实性、可靠性负担任何责任；</li>
        <li>不得利用<%= production_name %>网络服务系统进行任何不利于<%= production_name %>的行为； </li>
        <li>不干扰或混乱<%= production_name %>网络服务； </li>
        <li>用户同意若发现任何非法使用用户帐号或安全漏洞的情况，立即通告<%= production_name %>。 </li>
      </ol>
      </li>
      <li>用户同意保障和维护<%= production_name %>全体成员的利益，负责支付由用户使用超出服务范围引起的律师费用，违反服务条款的损害补偿费用，其他人使用的电脑、帐号和其它知识产权的追索费等。 </li>
      <li>杭州华思通信技术有限公司不对用户所发布信息的删除或储存失败负责。<%= production_name %>保留判定用户的行为是否符合<%= production_name %>网络服务条款的要求和精神的权利，如果用户违背了服务条款的规定，则中断其网 络服务的帐号。 </li>
    </ol>

    <h3>免责声明</h3>
    <ol>
      <li>用户明确同意其使用<%= production_name %>网络服务所存在的风险将完全由其自己承担；因其使用<%= production_name %>网络服务而产生的一切后果也由其自己承担，<%= production_name %>对用户不承担任何责任。 </li>
      <li><%= production_name %>不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。 </li>
    </ol>

    <h3>服务变更、中断或终止</h3>
    <ol>
      <li>如因系统维护或升级的需要而需暂停网络服务，<%= production_name %>将尽可能事先进行通告。 </li>
      <li>如发生下列任何一种情形，<%= production_name %>有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户： 
      <ol>
        <li>用户提供的个人资料不真实； </li>
        <li>用户违反本协议中规定的使用规则。 </li>
      </ol>
      </li>
      <li>除前款所述情形外，<%= production_name %>同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，<%= production_name %>无需对用户或任何第三方承担 任何责任。 </li>
      <li>用户若反对任何服务条款的建议或对后来的条款修改有异议，或对<%= production_name %>网络服务不满，用户只有以下追索权： 
      <ol>
        <li>不再使用<%= production_name %>网络服务。 </li>
        <li>通告<%= production_name %>停止该用户的网络服务。结束用户网络服务后，用户使用<%= production_name %>网络服务的权利马上中止。从即时起，<%= production_name %>不再对用户承担任何义务。</li>
      </ol>
      </li>
    </ol>

    <h3>违约赔偿</h3>
    <ol>
      <li>用户同意保障和维护<%= production_name %>及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给<%= production_name %>或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。 </li>
      <li>商业用户如应在购买使用到期前进行续费或终止使用服务。</li>
      <li>商业用户有权追诉<%= production_name %>产品使用过程中的失误。但以下排除；
      <ol>
        <li>不抗力范畴。细则均指自然灾害、如台风、洪水、冰雹；政府行为，如征收、征用；网络异常、如网络攻击、网络延迟、或其他影响<%= production_name %>正常通信状况。</li>
        <li>在<%= production_name %>维护升级情况下会暂时终止用户使用，<%= production_name %>平台会提前三日以邮件或其他用户预留联系方式通知用户。</li>
        <li>用户无关注<%= production_name %>产品公告暂停情况下，<%= production_name %>不承担任何相关法律责任。</li>
      </ol>
      </li>
    </ol>

    <h3>修改协议</h3>
    <ol>
      <li><%= production_name %>将可能不时的修改本协议的有关条款，一旦条款内容发生变动，<%= production_name %>将会在相关的页面提示修改内容。 </li>
      <li>如果不同意<%= production_name %>对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。 </li>
    </ol>

    <h3>法律管辖</h3>
    <ol>
      <li>本协议的订立、执行和解释及争议的解决均应适用中国法律。</li> 
      <li>如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向<%= production_name %>企业注册所在地的人民法院提起诉讼。</li>
    </ol>
  </div>
</div>
