<div class="wrap">
  <%= board_tag :id => "sites" do %>
    <%= board_header_tag do %>
      <%= icon_status("site", @site.status_name) %>
      <%= link_to t("site"), sites_path %> /
      <%= link_to @site.name, @site %> /
      <%= t("edit") %>
    <% end %>
    <%= board_content_tag do %>
      <%= render 'form' %>
    <% end %>
  <% end %>
</div>

