<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= controller.title ? "#{controller.title} - #{t("production_title")}" : t("production_title") %></title>
  <meta name="keywords" content="Monit,Monitor,主机监控,服务器监控,网络监控,数据库监控,进程监控,应用监控,网站监控,服务监控,业务监控,云监控,监控云,网管,IT网管" />
  <meta name="description" content="Monit监控云提供对业务(Business)、主机(Host)、网络(Network)、 应用(Application)和服务(Service)的全方位在线监控管理服务。 Monit监控云为中国政企客户、中小企业主、业务运营商、互联网网站等，提供创新的、简单的、低成本的可用性(Availability)、故障(Fault)与性能(Performance)IT网络监测服务。 " />
  <%=stylesheet_link_tag 'star/core', 'star/layout', 'star/icons', 'star/types', 'star/status', 'star/scaffold', 'star/feedback', 'star/threshold', :cache => "star/cache", :media=>'all' %>
  <%=javascript_include_tag 'jquery-1.4.4.min', 'rails', 'jquery.scrollto.min', 'swfobject', 'init', :cache => "cache" %>
  <%= yield :head %>
  <%= javascript_tag do %>
    document.write('<style type="text/css">body #doc .js-hide{display: none}</style>');
    <% if logged_in? %>
      jQuery(function(){
      //轮询
      return;
      $('#services-summary').load('/services/summary.ajax');
      window.setInterval(function(){
      $('#services-summary').load('/services/summary.ajax');
      },30000);
      });
    <% end %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
