<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale%>" lang="<%=I18n.locale%>">
  <%=render :partial=>'layouts/head'%>
  <body>
    <div id="doc">
      <!--header-->
      <div id="header" class="clearfix">
        <h2 id="logo">
          <%= link_to image_tag("logo.png") + content_tag(:em, t("production_version")), root_path %>
        </h2>
        <div id="usernav">
          <%#=link_to current_user.name, edit_account_path %>
          <%#= pipe_tag %>
          <%=link_to t("logout"), logout_url %>
        </div>
      </div>
      <!--header end-->
      <div class="wrap">
        <div id="content">
          <div id="wrapper" class="clearfix">
            <div id="sidebar">
              <%= yield :sidebar %>
              <%= menu_tag :id => "main-menu" do |item| %>
                <%= item.sites :class => "first" + (current_tab?(:sites, :menu) ? " menu-current-first" : "") do %>
                  <h4><%= link_to icon_tag("sites") + "网站" + content_tag(:span, "http,ping,dns"), {} %></h4>
                  <%= submenu_tag do |subitem| %>
                    <%= subitem.board link_to("Board", {:menu => 'widgets', :submenu => 'board', :anchor => 'board'}) %>
                    <%= subitem.columns link_to("Columns", {:menu => 'widgets', :submenu => 'columns', :anchor => 'columns'}) %>
                    <%= subitem.tabs link_to("Tabs", {:menu => 'widgets', :submenu => 'tabs', :anchor => 'tabs'}) %>
                    <%= subitem.grid link_to("Grid", {:menu => 'widgets', :submenu => 'grid', :anchor => 'grid'}) %>
                    <%= subitem.datagrid link_to("DataGrid", {:menu => 'widgets', :submenu => 'datagrid', :anchor => 'datagrid'}) %>
                    <%= subitem.form link_to("Form", {:menu => 'widgets', :submenu => 'form', :anchor => 'form'}) %>
                  <% end %>
                <% end %>
                <%= item.apps :class => "last" + (current_tab?(:apps, :menu) ? " menu-current-last" : "") do %>
                  <h4>
                    <%= link_to icon_tag("apps") + "应用" + content_tag(:span, "Apache,Mysql,Nginx"), {} %>
                  </h4>
                <% end %>
              <% end %>

            </div>
            <div id="main">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%=render :partial=>'layouts/footer'%>
    </div>
  </body>
</html>
