<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale%>" lang="<%=I18n.locale%>">
  <%=render :partial=>'layouts/head'%>
  <body>
    <div id="doc">
      <!--header-->
      <div id="header" class="clearfix">
        <h2 id="logo">
          <%= link_to image_tag("logo.png") + content_tag(:em, t("production_version")), root_path %>
        </h2>
        <div id="usernav">
          <%#=link_to current_user.name, edit_account_path %>
          <%#= pipe_tag %>
          <%=link_to t("logout"), logout_url %>
        </div>
      </div>
      <!--header end-->
      <div class="wrap">
        <div id="content">
          <div id="wrapper" class="clearfix">
            <div id="sidebar">
              <%= yield :sidebar %>
              <%= menu_tag :id => "main-menu" do |item| %>
                <%= item.sites :class => "first" + (current_tab?(:sites, :menu) ? " menu-current-first" : "") do %>
                  <h4><%= link_to icon_tag("sites") + "网站" + content_tag(:span, "http,ping,dns"), sites_path %></h4>
                  <%= submenu_tag do |subitem| %>
                    <%= subitem.sites_index link_to(icon_tag("submenu") + "网站列表", sites_path) %>
                  <% end %>
                <% end %>
                <%= item.apps :class => "last" + (current_tab?(:apps, :menu) ? " menu-current-last" : "") do %>
                  <h4>
                    <%= link_to icon_tag("apps") + "应用" + content_tag(:span, "Apache,Mysql,Nginx"), apps_path %>
                  </h4>
                  <%= submenu_tag do |subitem| %>
                    <%= subitem.apps_index link_to(icon_tag("submenu") + "应用概述", apps_path) %>
                  <% end %>
                <% end %>
              <% end %>

            </div>
            <div id="main">
              <% unless flash[:notice].blank? %>
                <div class="wrap content-notice">
                  <p class="notice notice-success">
                  <%= flash[:notice] %>
                  </p>
                </div>
              <% end %>
              <% unless flash[:error].blank? %>
                <div class="wrap content-notice">
                  <p class="notice notice-error">
                  <%= flash[:error] %>
                  </p>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%=render :partial=>'layouts/footer'%>
    </div>
  </body>
</html>
